File.open("mrblib/theme_base16-{{scheme-slug}}_curses.rb", "w") do |f|
f.puts "# {{scheme-name}} scheme by {{scheme-author}}"
f.puts "module Mrbmacs"
#class_name = "Base16" + "{{scheme-name}}".gsub(' ', '').gsub(/\(|\)/,'') + "Theme"
class_name = "Base16" + "{{scheme-slug}}".capitalize.gsub(/-(\w)/){$1.upcase} + "Theme"
f.puts "  class #{class_name} < Base16Theme"
f.print <<EOS
    @@theme_name = "base16-{{scheme-slug}}"
    def initialize
      curses_init
      @color_list = [
        ["BASE00",  0, "{{base00-hex}}"],
        ["BASE01", 10, "{{base01-hex}}"],
        ["BASE02", 11, "{{base02-hex}}"],
        ["BASE03",  8, "{{base03-hex}}"],
        ["BASE04", 12, "{{base04-hex}}"],
        ["BASE05",  7, "{{base05-hex}}"],
        ["BASE06", 13, "{{base06-hex}}"],
        ["BASE07", 15, "{{base07-hex}}"],
        ["BASE08",  1, "{{base08-hex}}"],
        ["BASE09",  9, "{{base09-hex}}"],
        ["BASE0A",  3, "{{base0A-hex}}"],
        ["BASE0B",  2, "{{base0B-hex}}"],
        ["BASE0C",  6, "{{base0C-hex}}"],
        ["BASE0D",  4, "{{base0D-hex}}"],
        ["BASE0E",  5, "{{base0E-hex}}"],
        ["BASE0F", 14, "{{base0F-hex}}"],
      ] 
      super
      @name = @@theme_name
    end
  end
end
EOS
end
